trunk/src/TennisWMC/Web References/wsTennis/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://amarkota.com/webservices/tennis" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://amarkota.com/webservices/tennis" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://amarkota.com/webservices/tennis">
      <s:element name="GetTennisScoresForWMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="scoreType" type="tns:ScoreTypes" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ScoreTypes">
        <s:restriction base="s:string">
          <s:enumeration value="ALL_MATCHES" />
          <s:enumeration value="TIMELINE" />
          <s:enumeration value="NOT_STARTED" />
          <s:enumeration value="FINISHED" />
          <s:enumeration value="IN_PLAY" />
          <s:enumeration value="SCORESLINE" />
          <s:enumeration value="YESTERDAY" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetTennisScoresForWMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTennisScoresForWMCResult" type="tns:TennisScoresCollection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TennisScoresCollection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Singles" type="tns:ArrayOfMatch" />
          <s:element minOccurs="0" maxOccurs="1" name="Doubles" type="tns:ArrayOfMatch" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfMatch">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Match">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MatchIndex" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Court" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="InProgress" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="tns:MatchProgress" />
          <s:element minOccurs="0" maxOccurs="1" name="Player1" type="tns:Player" />
          <s:element minOccurs="0" maxOccurs="1" name="Player2" type="tns:Player" />
          <s:element minOccurs="0" maxOccurs="1" name="Duration" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DatePlayed" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Tournament" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SurfaceType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MatchType" type="tns:MatchTypes" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MatchProgress">
        <s:restriction base="s:string">
          <s:enumeration value="NOT_STARTED" />
          <s:enumeration value="IN_PLAY" />
          <s:enumeration value="FINISHED" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="Player">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GamesWon" type="tns:ArrayOfGamePoint" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsWinner" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGamePoint">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GamePoint" nillable="true" type="tns:GamePoint" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="GamePoint">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Set" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsWinner" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="MatchTypes">
        <s:restriction base="s:string">
          <s:enumeration value="SINGLES" />
          <s:enumeration value="DOUBLES" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTennisScoresForWMCSoapIn">
    <wsdl:part name="parameters" element="tns:GetTennisScoresForWMC" />
  </wsdl:message>
  <wsdl:message name="GetTennisScoresForWMCSoapOut">
    <wsdl:part name="parameters" element="tns:GetTennisScoresForWMCResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetTennisScoresForWMC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of tennis match scores designated for Windows Media Center</wsdl:documentation>
      <wsdl:input message="tns:GetTennisScoresForWMCSoapIn" />
      <wsdl:output message="tns:GetTennisScoresForWMCSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTennisScoresForWMC">
      <soap:operation soapAction="http://amarkota.com/webservices/tennis/GetTennisScoresForWMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTennisScoresForWMC">
      <soap12:operation soapAction="http://amarkota.com/webservices/tennis/GetTennisScoresForWMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:81/WebServices/Tennis/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:81/WebServices/Tennis/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>